# Data testing
Playing with the data

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../data/BTCUSDT-trades-44.csv")

In [6]:
df

,a,p,q,f,l,T,m,M
0,220000000,9748.00,0.010711,241043691,241043691,1581108723115,False,True
1,220000001,9748.00,0.010711,241043692,241043692,1581108723118,False,True
2,220000002,9748.00,0.010711,241043693,241043693,1581108723118,False,True
3,220000003,9748.00,0.010711,241043694,241043694,1581108723120,False,True
4,220000004,9748.00,0.010711,241043695,241043695,1581108723120,False,True
...,...,...,...,...,...,...,...,...
4999995,224999995,10230.53,0.001164,246303434,246303434,1581779223788,True,True
4999996,224999996,10230.53,0.030202,246303435,246303435,1581779223832,True,True
4999997,224999997,10230.53,0.006260,246303436,246303436,1581779223970,True,True
4999998,224999998,10230.54,0.001955,246303437,246303437,1581779224568,False,True
4999999,224999999,10229.86,0.001977,246303438,246303438,1581779225499,True,True

In [7]:
sum(df.q)/df.shape[0]*100*np.mean(df.p)

85765.0798120726